/nbproject/private/
/debian/clientzone/
/debian/clientzone.debhelper.log
/debian/clientzone.substvars
/src/includes/config.php
/build-stamp
/testing/PHPUnit/build/
/composer.lock
/vendor/
/debian/debhelper-build-stamp
/.vagrant/
/debian/clientzone.postrm.debhelper