/nbproject/private/
/debian/shop4flexibee/
/debian/shop4flexibee.debhelper.log
/debian/shop4flexibee.substvars
/src/includes/config.php
/build-stamp
/testing/PHPUnit/build/
/composer.lock
/vendor/
/debian/debhelper-build-stamp
/.vagrant/
/debian/shop4flexibee.postrm.debhelper