Source: shop4flexibee
Build-Depends: debhelper (>= 8), dh-systemd
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <vitex@arachne.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/Shop4FlexiBee

Package: shop4flexibee
Depends: ${misc:Depends},ease-framework (>= 1.3.1),libjs-font-awesome,php5-curl|php-curl,libjs-fuelux,flexipeehp (>= 1.8.2),php-mail-mime,php-phinx,locales-all,poppler-utils,libjs-bootstrap-switch,php-cli 
Architecture: all
Section: web
Priority: optional
Description: Shop for FlexiBee
 Shopping Frontend for czech economic system FlexiBee
