Source: clientzone
Build-Depends: debhelper (>= 8), dh-systemd
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <vitex@arachne.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/ClientZone

Package: clientzone
Depends: ${misc:Depends},ease-framework (>= 1.5.10),libjs-font-awesome,php5-curl|php-curl,libjs-fuelux,flexipeehp (>= 1.8.2),php-mail-mime,php-phinx,locales-all,poppler-utils,libjs-bootstrap-switch,php-cli, ease-framework-bricks,flexipeehp-bricks,php-flexibee-config  
Architecture: all
Section: web
Priority: optional
Description: Client Zone for FlexiBee
 Provide customer access to its orders and invoices
